.box {
    height: 100px;
    background-color: gray;
    margin: 10px;
    border: 1px solid black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}